<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">Team</a></li>
  <li class="{% if page.url contains '/study/' %} active {% endif %}"><a href="{{ "/study/" | absolute_url }}">Study</a></li>
  <li class="{% if page.url contains '/acknowledgement/' %} active {% endif %}"><a href="{{ "/acknowledgement/" | absolute_url }}">acknowledgement</a></li>
</ul>
